.bg-wrapper-grey {
    background-color: #eaeaea;
}

.dd2 {
    color: #b9753f;
}

.divider {
    width: 45px;
    height: 1px;
    background-color: #e14073;
    margin-top: 20px;
    margin-bottom: 40px;
}

.feature-item {
    margin-bottom: 40px;
}

.icon-circle {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background-color: #FFF;
    border: 1px solid #f1d5bf;
}

.divider2 {
    width: 35px;
    height: 1px;
    background-color: #e14073;
    margin-top: 10px;
    margin-bottom: 20px;
}

.feature-item p {
    font-size: 14px;
    line-height: 24px;
}

a {
    color: #444;
    transition: all 0.3s ease;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #398cbf;
}

.fa {
    font-size: 32px;
}

h5 {
    line-height: 1.6;
}