<div class="row custom-cpa" style="padding: 20px;background-color: #010733;color: #fff;box-shadow: 3px 8px 4px 1px grey;">
    <div class="col-md-3">
        <p style="color: #fff !important;">
            DO you want to know more about {{keyword}} Market ?</p>
    </div>
    <div class="col-md-9">
        <div style="display: flex;/* flex-wrap: wrap; */"><input type="text" placeholder="Full Name"
                class="form-control">
            <input type="email" placeholder="Official Email Address" class="form-control ml-2">
            <button class="btn btn-info ml-2"
                style="/* float: right; *//* display: flex; *//* flex-direction: row; *//* align-content: flex-end; *//* margin-left: 92%; */">Yes</button>
        </div>

    </div>

</div>