<div class="row cta-row">
    <div class="col-md-4 no-padding">
        <img class="img-responsive cta-image" src="/image/CTA-Image.jpg" alt="CTA Sample Request">
    </div>
    <div class="col-md-8 no-padding">
        <div class="cta-div">
            <p class="cta-message">
                Don't wait another moment - complete the necessary information and unlock a wealth of knowledge. Seize this chance to make informed decisions and drive your success to new heights!
            </p>
            <a class="btn btn-primary cta-button" href="/{{slug}}/request-sample" target="_blank">Submit Request</a>
        </div>
    </div>
</div>

<style>

    .cta-row {
        height: 200px;
        background: #f2f5f8;
        border:2px solid;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .cta-image {
        width: 100%;max-height: 197px;
    }
    
    .no-padding {
        padding: 0px;
    }

    .cta-div {
        height: 100%;background: #00a3bc;
        border-radius: 0px 0px 0px 60px;
    }

    .reportDescription a.cta-button:hover {
        border: 1px solid #010733;
        background: #fff !important;
        color: #010733 !important;
    }

    .reportDescription a.cta-button {
        background: #ee624a;
        position: relative;
        top: -9%;
        left: 2%;
        font-weight: bold;
        color: #fff !important;
    }

    .cta-message {
        padding: 15px;
        /*font-weight: bold;*/
        /*color: #010733;*/
        color: #fff;
        padding-left: 18px;
        text-align: left !important;
        font-size: 20px !important;
    }
</style>