{{!-- <div class="row margin-15" style="display: flex;justify-content: space-evenly;padding: 15px;background: rgb(123,7,175);
background: linear-gradient(90deg, rgba(123,7,175,0.9906556372549019) 44%, rgba(12,4,138,1) 100%);border-radius: 10px;"> --}}
    {{!-- <div>
        <p style="color: #fff;font-size: 22px;text-align: left;">
            💡 Future-proof Strategies: Anticipate market shifts, adapt to changing customer preferences, and position yourself as an industry leader. Our study equips you with the knowledge to navigate uncertainties with confidence.
        </p>
    </div> --}}
<div class="row margin-15 simple-border">
    <div class="cta2-buttons">
    <a href="/buy-now/{{slug}}/0?src=cta2" style="width: 200px;color: #fff !important;color: #fff !important;" class="btn btn-info special" target="_blank">Order Now</a>
    <a href="/{{slug}}/request-sample?src=cta2" class="btn special blink" style="width: 200px;background: #ffbc34 !important;border-color: #ffbc34 !important;color: #fff !important;" target="_blank">Get Free Sample</a>
    <a href="/{{slug}}/customization-request?src=cta2" style="width: 200px;background-color: #00e65b !important;border-color: #00e65b !important;color: #010733 !important;" class="btn btn-success special blink" target="_blank">Customize Report</a></div>
</div>

<style>
    .margin-15 {
        margin-top: 15px;
        margin-bottom: 15px;
        border: 1px solid;
    }

    .simple-border{
        border: 1px solid #dfdfdf;
        padding: 15px;
    }

    .cta2-buttons {
        display: flex;
        justify-content: space-evenly;
    }
</style>