<h5 class="subs-title text-black">Customization Offered</h5>
<ul style="list-style: none;" class="margin-10">
    <li><img src="/assets/img/reports/icons/check-mark.svg" style="width: 24px;" /> Cross-segment Market Size and
        Analysis
        for Mentioned Segments</li>
    <li><img src="/assets/img/reports/icons/check-mark.svg" style="width: 24px;" /> Additional Company Profiles (Upto 5
        With
        No Cost)</li>
    <li><img src="/assets/img/reports/icons/check-mark.svg" style="width: 24px;" /> Additional Countries (Apart From
        Mentioned Countries)</li>
    <li><img src="/assets/img/reports/icons/check-mark.svg" style="width: 24px;" /> Country/Region-specific Report</li>
    <li><img src="/assets/img/reports/icons/check-mark.svg" style="width: 24px;" /> Go To Market Strategy</li>
    <li><img src="/assets/img/reports/icons/check-mark.svg" style="width: 24px;" /> Region Specific Market Dynamics</li>
    <li><img src="/assets/img/reports/icons/check-mark.svg" style="width: 24px;" /> Region Level Market Share</li>
    <li><img src="/assets/img/reports/icons/check-mark.svg" style="width: 24px;" /> Import Export Analysis</li>
    <li><img src="/assets/img/reports/icons/check-mark.svg" style="width: 24px;" /> Production Analysis</li>
</ul>