<link rel="stylesheet" href="/css/excel-2007.css" />
<style>
    .blur-text {
        filter: blur(4px);
    }

    .right {
        text-align: right;
        padding-right: 5px;
    }

    .left {
        text-align: left;
        padding-left: 5px;
    }
</style>
<!-- /Overview -->
<table class="ExcelTable2007" style="width: 100%;">
    <tbody>
        <tr>
            <th class="left">Year</th>
            <th class="right">2017</th>
            <th class="right">2018</th>
            <th class="right">2019</th>
            <th class="right">2020</th>
            <th class="right">2021</th>
            <th class="right">2022</th>
            <th class="right">2023</th>
            <th class="right">2024</th>
            <th class="right">2025</th>
            <th class="right">2026</th>
            <th class="right">2027</th>
            <th class="right">2028</th>
            <th class="right">2029</th>
            <th class="right">2030</th>
        </tr>
        <tr>
            <th class="left">Type</th>
            <td class="blur-text right">XX%</td>
            <td class="blur-text right">XX%</td>
            <td class="blur-text right">XX%</td>
            <td class="blur-text right">XX%</td>
            <td class="blur-text right">XX%</td>
            <td class="blur-text right">XX%</td>
            <td class="blur-text right">XX%</td>
            <td class="blur-text right">XX%</td>
            <td class="blur-text right">XX%</td>
            <td class="blur-text right">XX%</td>
            <td class="blur-text right">XX%</td>
            <td class="blur-text right">XX%</td>
            <td class="blur-text right">XX%</td>
            <td class="blur-text right">XX%</td>
        </tr>
    </tbody>
</table>