<!-- Footer -->
<footer class="footer">

    <!-- Footer Top -->
    <div class="footer-top aos" data-aos="fade-up">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="https://cdn.vantagemarketresearch.com/assets/img/vantage.webp"
                                        alt="Vantage Market Research" height="37" width="160" style="height: 100%;">
                                </div>
                                <div class="footer-about-content">
                                    <p>
                                        <strong>Research Revolutionized</strong><br />
                                        A tech-driven & tech-enabled market research company.
                                    </p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                        <div class="col-md-12" style="margin-top: 20px;">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title" style="width: 75%;">Vantage Market Research</h2>
                                <ul>
                                    <li><a href="/about-us">About Us <span class="gt">[Latest]</span></a></li>
                                    <li><a href="/all-reports">Market Research Reports</a></li>
                                    <li><a href="/contact-us">Contact Us</a></li>
                                    <li><a href="/customer-faq">Customer FAQ</a></li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title" style="width: 75%;">Products & Services</h2>
                                <ul>
                                    <li><a href="/off-the-shelf-research">Off-the-Shelf Research</a></li>
                                    <li><a href="/consulting-and-advisory">Consulting & Advisory</a></li>
                                    <li><a href="/consumer-survey">Consumer Survey</a></li>
                                    <li><a href="/data-analytics">Data Analytics</a></li>
                                    <li><a href="/technology-solutions">Technology & Solutions</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top: 20px;">
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title" style="width: 75%;">Media</h2>
                                <ul>
                                    <li><a href="/press-releases">Press Release</a></li>
                                    <li><a href="/blogs">Blogs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title" style="text-align:center;">Industry Verticals</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="/categories/energy-and-power">
                                            Energy
                                            &amp;
                                            Power </a>
                                    </li>
                                    <li><a href="/categories/mining-metals-and-minerals">
                                            Mining Metals &amp; Minerals
                                        </a>
                                    </li>
                                    <li><a href="/categories/agriculture">
                                            Agriculture </a></li>
                                    <li><a href="/categories/biotechnology-and-life-sciences">
                                            Biotechnology
                                        </a></li>
                                    <li><a href="/categories/aerospace-and-defense">
                                            Aerospace
                                            &amp; Defense </a></li>
                                    <li><a href="/categories/healthcare">
                                            Healthcare </a></li>
                                    <li><a href="/categories/advanced-materials">
                                            Advanced Materials </a></li>
                                    <li><a href="/categories/food-and-beverage">
                                            Food &amp; Beverage </a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="/categories/banking-financial-services-and-insurance">
                                            BFSI </a></li>
                                    <li><a href="/categories/technology-and-media">
                                            Technology &amp; Media </a></li>
                                    <li><a href="/categories/semiconductor-and-electronics">
                                            Semiconductor &amp;
                                            Electronics
                                        </a></li>
                                    <li><a href="/categories/automotive-transportation-and-logistics">
                                            Automotive
                                            &amp; Logistics </a></li>
                                    <li><a href="/categories/heavy-industry">
                                            Heavy
                                            Industry
                                        </a></li>
                                    <li><a href="/categories/building-and-constructions">
                                            Building &amp; Construction
                                        </a>
                                    </li>
                                    <li><a href="/categories/consumer-goods-and-packaging">
                                            Consumer Goods &amp;
                                            Packaging
                                        </a>
                                    </li>
                                    <li><a href="/categories/chemicals">
                                            Chemicals </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address" style="display: flex;align-items:baseline;">
                                        <img class="img-fluid" alt="Address Icon Footer"
                                            src="https://cdn.vantagemarketresearch.com/assets/img/address.svg"
                                            height="25px" width="25px" />
                                        <p> 6218 Georgia Avenue NW Ste 1 - 564 Washington, DC 20011-5125, United States
                                        </p>

                                    </div>
                                    <div class="footer-address" style="display: flex;align-items:baseline;">
                                        <img class="img-fluid" alt="Address Icon Footer"
                                            src="https://cdn.vantagemarketresearch.com/assets/img/address.svg"
                                            height="25px" width="25px" />
                                        <p> Kamdhenu Jasmine, Main Road, Pimple Saudagar, Pune, Maharashtra, 411027
                                        </p>

                                    </div>
                                    <p>
                                        <img class="img-fluid" alt="Email Icon Footer"
                                            src="https://cdn.vantagemarketresearch.com/assets/img/email.svg"
                                            height="25px" width="25px" />
                                        <a
                                            href="mailto:sales@vantagemarketresearch.com">sales@vantagemarketresearch.com</a>
                                    </p>
                                    <p class="mb-0">
                                        <img alt="Phone Icon Footer" class="img-fluid"
                                            src="https://cdn.vantagemarketresearch.com/assets/img/phone.svg"
                                            height="25px" width="25px" />
                                        <a href="tel:+1 (202) 380-9727">+1 (202) 380-9727</a> <br /> Toll Free Number:
                                        <a href="tel:+1 (877) 500-9070">+1 (877) 500-9070</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-8" style="margin-top: 10px;display: flex;align-items: center;">
                    <img src="/image/SECURED.jpg" style="width: 67%;height: 60px;">
                </div>
                <div class="col-md-4" style="margin-top: 20px;">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Social Media</h2>
                        <ul style="display: flex; justify-content: space-evenly;">
                            <li><a href=" https://twitter.com/vantagemarketr"><img height="50" width="50"
                                        src="https://cdn.vantagemarketresearch.com/assets/img/twitter.svg"
                                        alt="twitter icon" /></a></li>
                            <li><a href="https://www.facebook.com/vantagemarketresearch"><img height="50" width="50"
                                        src="https://cdn.vantagemarketresearch.com/assets/img/facebook.svg"
                                        alt="facebook icon" /></a>
                            </li>
                            <li><a href="https://www.linkedin.com/company/vantage-market-research/"><img height="50"
                                        width="50" src="https://cdn.vantagemarketresearch.com/assets/img/linkedin.svg"
                                        alt="linkedin icon" /></a>
                            </li>
                            <li><a href="https://www.youtube.com/channel/UCLgG0af0Kn5AprzV_slnSLQ"><img height="50"
                                        width="50" src="https://cdn.vantagemarketresearch.com/assets/img/youtube.svg"
                                        alt="linkedin icon" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container-fluid">

            <!-- Copyright -->
            <div class="copyright">
                <div class="row" style="display: flex;align-items:baseline;">
                    <div class="col-md-4">
                        <div class="privacy-policy">
                            <ul>
                                <li><a href="/terms-of-services">Terms</a></li>
                                <li><a href="/privacy-policy">Privacy</a></li>
                                <li><a href="/how-to-order">How to Order</a></li>
                                <li><a href="/career">Careers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4" style="text-align: center;">
                        <a href="https://directory.esomar.org/country/82-india/r7370_Vantage-Market-Research.php">
                            <img src="https://cdn.vantagemarketresearch.com/assets/img/Esomar_VMR.png"
                                class="img-responsive" alt="ESOMAR Member Vantage Market Research"
                                style="width: 30%;" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; {{currentYear}} <a href="/">Vantage Market Research & Consultancy
                                    Services</a>. All rights
                                reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>
<!-- /Footer -->