<style>
    @media only screen and (max-width: 800px) {
        .big-menu {
            flex-wrap: wrap;
        }
    }

    @media only screen and (min-width: 1200px) {
        .big-menu {
            flex-wrap: unset;
        }
    }

    @media (max-width: 991.98px) {
        .main-nav>li .submenu li a {
            padding-left: 8px;
        }
    }
</style>
<!-- Header -->
<header class="header header-page">
    <div class="header-fixed">
        <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
            <div class="container">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="/" class="navbar-brand logo">
                        <img src="/assets/img/logo.webp" class="img-fluid" alt="Vantage Market Research" height="50" width="214">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="/" class="menu-logo">
                            <img src="/assets/img/logo.webp" class="img-fluid" alt="Vantage Market Research">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/all-reports">Latest Research</a>
                        </li>
                        <li class="has-submenu">
                            <a href="">Reports By Vertical <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <div class="row big-menu">
                                    <div class="col">
                                        <li><a href="/categories/energy-and-power"><img height="24" width="24"
                                                    src="/assets/img/category/icon/Energy-and-Power.svg" /> Energy &amp;
                                                Power </a>
                                        </li>
                                        <li><a href="/categories/mining-metals-and-minerals"><img height="24" width="24"
                                                    src="/assets/img/category/icon/Mining-Metals-and-Minerals.svg" />
                                                Mining Metals and Minerals
                                            </a>
                                        </li>
                                        <li><a href="/categories/agriculture"><img height="24" width="24"
                                                    src="/assets/img/category/icon/Agriculture.svg" />
                                                Agriculture </a></li>
                                        <li><a href="/categories/biotechnology-and-life-sciences"><img height="24"
                                                    width="24"
                                                    src="/assets/img/category/icon/Biotechnology-and-Life-Sciences.svg" />
                                                Biotechnology and
                                                Life
                                                Sciences
                                            </a></li>
                                        <li><a href="/categories/aerospace-and-defense"> <img height="24" width="24"
                                                    src="/assets/img/category/icon/Aerospace-and-Defense.svg" />
                                                Aerospace
                                                and Defense </a></li>
                                        <li><a href="/categories/healthcare"><img height="24" width="24"
                                                    src="/assets/img/category/icon/Healthcare.svg" />
                                                Healthcare </a></li>
                                        <li><a href="/categories/advanced-materials"><img height="24" width="24"
                                                    src="/assets/img/category/icon/Advanced-Materials.svg" />
                                                Advanced Materials </a></li>
                                        <li><a href="/categories/food-and-beverage"><img height="24" width="24"
                                                    src="/assets/img/category/icon/Food-and-Beverage.svg" />
                                                Food &amp; Beverage </a></li>
                                    </div>
                                    <div class="col">
                                        <li><a href="/categories/banking-financial-services-and-insurance"><img
                                                    height="24" width="24"
                                                    src="/assets/img/category/icon/Banking-Financial-Services-and-Insurance.svg" />
                                                Banking
                                                Financial
                                                Services &amp; Insurance </a></li>
                                        <li><a href="/categories/technology-and-media"><img height="24" width="24"
                                                    src="/assets/img/category/icon/Technology-and-Media.svg" />
                                                Technology &amp; Media </a></li>
                                        <li><a href="/categories/semiconductor-and-electronics"><img height="24"
                                                    width="24"
                                                    src="/assets/img/category/icon/Semiconductor-and-Electronics.svg" />
                                                Semiconductor &amp;
                                                Electronics
                                            </a></li>
                                        <li><a href="/categories/automotive-transportation-and-logistics"><img
                                                    height="24" width="24"
                                                    src="/assets/img/category/icon/Automotive-Transportation-and-Logistics.svg" />
                                                Automotive
                                                Transportation &amp; Logistics </a></li>
                                        <li><a href="/categories/heavy-industry"><img height="24" width="24"
                                                    src="/assets/img/category/icon/Heavy-Industry.svg" /> Heavy Industry
                                            </a></li>
                                        <li><a href="/categories/building-and-constructions"><img height="24" width="24"
                                                    src="/assets/img/category/icon/Building-and-Constructions.svg" />
                                                Building and Constructions
                                            </a>
                                        </li>
                                        <li><a href="/categories/consumer-goods-and-packaging"><img height="24"
                                                    width="24"
                                                    src="/assets/img/category/icon/Consumer-Goods-and-Packaging.svg" />
                                                Consumer Goods and
                                                Packaging
                                            </a>
                                        </li>
                                        <li><a href="/categories/chemicals"><img height="24" width="24"
                                                    src="/assets/img/category/icon/Chemicals.svg" />
                                                Chemicals </a></li>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li>
                            <a href="/press-releases">Press Release</a>
                        </li>
                        <li>
                            <a href="/blogs">Blog</a>
                        </li>
                        <li class="has-submenu">
                            <a href="">Service We Offer <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="/services/consulting-services">Consulting
                                        Services</a></li>
                                <li><a href="/services/tailored-insights">Tailored
                                        Insights</a></li>
                                <li><a href="/services/syndicated-market-research">Syndicate Market Research</a>
                                </li>
                                <li><a href="/services/competitive-intelligence">Competitive Intelligence</a></li>
                                <li><a href="/services/market-monitoring">Market
                                        Monitoring</a></li>
                                <li><a href="/services/customer-research">Customer
                                        Research</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="">About Us <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="/about-us">Who We Are</a></li>
                                <li><a href="/why-us">Why Choose Us</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/contact-us">Reach Us</a>
                        </li>
                        <li>
                            <a>
                                <i class="fa fa-search" data-bs-toggle="modal" data-bs-target="#searchModal"></i>
                            </a>
                        </li>
                        <li class="has-submenu">
                            <a href=""><i class="fas fa-user"></i></a>
                            <ul class="submenu">
                                <li><a>Login</a></li>
                                <li><a>Register</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- /Header -->