<table class="table table-bordered include">
    <thead>
        <tr>
            <td>Sr. No.</td>
            <td>Offering</td>
            <td>Report Coverage</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Market Size</td>
            <td>In terms of Revenue (USD Million)</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Historic Data</td>
            <td>{{History_CurrentYear}} to {{History_ForecastYear}}</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Forecast Data</td>
            <td>{{math Current_Year '+' 1}} to {{Forecast_Year}}</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Market Drivers, Restraints, Opportunities, & Regional Market Trends</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>Market Attractiveness Analysis</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>Segment Analysis</td>
            <td>Maximum Segments</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>Regional Coverage</td>
            <td>5 Regions</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>Country Coverage</td>
            <td>Top 22 Countries</td>
        </tr>
        <tr>
            <td>9.</td>
            <td>Competitive Landscape and Company Market Share Analysis</td>
            <td>Yes.
                Exhaustive information will be provided in two separate chapters of Competitive Landscape and Company
                Profiles.</td>
        </tr>
        <tr>
            <td>10.</td>
            <td>Porter’s Five Forces Analysis</td>
            <td>Yes.</td>
        </tr>
        <tr>
            <td>11.</td>
            <td>Value Chain Analysis</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>12.</td>
            <td>PEST Analysis</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>13.</td>
            <td>Regulatory Landscape</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>14.</td>
            <td>Technology Landscape</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>15.</td>
            <td>COVID-19 Impact Analysis</td>
            <td>Yes.
                Exhaustive information for Key Strategies Undertaken by Companies, Impact Assessment of the COVID-19
                Pandemic by Region, along with Short-term and Long-term dynamics.</td>
        </tr>
        <tr>
            <td>16.</td>
            <td>Top startups to watch out for</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>17.</td>
            <td>Top 3 Trends to Watch</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>18.</td>
            <td>Top 3 Strategies Followed by Major Players</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>19.</td>
            <td>Top 3 Predictions by Vantage Market Research</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>20.</td>
            <td>Discussion Guide</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>21.</td>
            <td>Key Primary Respondents - VERBATIM</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>22.</td>
            <td>Transcripts from the Primary Respondents</td>
            <td>Additional Cost USD 1,000</td>
        </tr>
        <tr>
            <td>23.</td>
            <td colspan="2">Others/Miscellaneous</td>
        </tr>
    </tbody>
</table>

<style>
    table.include {
        border-collapse: separate !important;
        border-spacing: 0px !important;
        background: beige;
    }

    table.include td:nth-child(1) {
        width: 75px;
    }

    table.include thead tr:nth-child(1) {
        height: 53px;
        background: #0d355a;
        color: #fff;
    }

    table.include td {
        border: 1px solid #dfdfdf;
    }

    table.include thead td:nth-child(1) {
        border-top-left-radius: 15px;
    }

    table.include thead td:nth-last-child(1) {
        border-top-right-radius: 15px;
    }
</style>