<ul>
    <li> North America - (U.S., Canada, Mexico)</li>
    <li>Europe - (U.K., France, Germany, Italy, Spain, Rest Of Europe)</li>
    <li>Asia Pacific - (China, Japan, India, South Korea, South East Asia, Rest Of Asia Pacific)</li>
    <li>Latin America - (Brazil, Argentina, Rest Of Latin America)</li>
    <li>Middle East &amp; Africa - (GCC Countries, South Africa, Rest Of Middle East & Africa)</li>
</ul>