<style>
    @media only screen and (max-width: 800px) {
        .big-menu {
            flex-wrap: wrap;
        }
    }

    @media only screen and (min-width: 1200px) {
        .big-menu {
            flex-wrap: unset;
        }
    }

    @media (max-width: 991.98px) {
        .main-nav>li .submenu li a {
            padding-left: 8px;
        }
    }
</style>
<!-- Header -->
<header class="header header-page">
    <div class="header-fixed" style="box-shadow: 2px 3px 8px 0px;">
        <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
            <div class="container-fluid" style="padding: 0px;">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="/" class="navbar-brand logo">
                        <img src="https://cdn.vantagemarketresearch.com/assets/img/logo.webp" class="img-fluid"
                            alt="Vantage Market Research">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="/" class="menu-logo">
                            <img src="https://cdn.vantagemarketresearch.com/assets/img/logo.webp" class="img-fluid"
                                alt="Vantage Market Research">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="active right-border">
                            <a href="/"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li class="has-submenu right-border">
                            <a href="#"><img height="24px" width="24px"
                                    data-src="https://cdn.vantagemarketresearch.com/assets/img/VP-Plus.webp"
                                    class="lazyload" alt="V Reports" /> Reports <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <div class="row big-menu">
                                    <div class="col">
                                        <li><a href="/categories/energy-and-power"><img alt="Energy and Power Icon"
                                                    height="24" width="24"
                                                    data-src="https://cdn.vantagemarketresearch.com/category/icon/Energy-and-Power.svg"
                                                    class="lazyload" />
                                                Energy
                                                &amp;
                                                Power </a>
                                        </li>
                                        <li><a href="/categories/mining-metals-and-minerals"><img
                                                    alt="Mining Metals and Minerals" height="24" width="24"
                                                    data-src="https://cdn.vantagemarketresearch.com/category/icon/Mining-Metals-and-Minerals.svg"
                                                    class="lazyload" />
                                                Mining Metals & Minerals
                                            </a>
                                        </li>
                                        <li><a href="/categories/agriculture"><img alt="Agriculture Icon" height="24"
                                                    width="24"
                                                    data-src="https://cdn.vantagemarketresearch.com/category/icon/Agriculture.svg"
                                                    class="lazyload" />
                                                Agriculture </a></li>
                                        <li><a href="/categories/biotechnology-and-life-sciences"><img
                                                    alt="Biotechnology and Life Sciences Icon" height="24" width="24"
                                                    src="https://cdn.vantagemarketresearch.com/category/icon/Biotechnology-and-Life-Sciences.svg"
                                                    class="lazyload" />
                                                Biotechnology
                                            </a></li>
                                        <li><a href="/categories/aerospace-and-defense"> <img
                                                    alt="Aerospace and Defense" height="24" width="24"
                                                    data-src="https://cdn.vantagemarketresearch.com/category/icon/Aerospace-and-Defense.svg"
                                                    class="lazyload" />
                                                Aerospace
                                                & Defense </a></li>
                                        <li><a href="/categories/healthcare"><img alt="Healthcare Icon" height="24"
                                                    width="24"
                                                    data-src="https://cdn.vantagemarketresearch.com/category/icon/Healthcare.svg"
                                                    class="lazyload" />
                                                Healthcare </a></li>
                                        <li><a href="/categories/advanced-materials"><img alt="Advanced Materials Icon"
                                                    height="24" width="24"
                                                    data-src="https://cdn.vantagemarketresearch.com/category/icon/Advanced-Materials.svg"
                                                    class="lazyload" />
                                                Advanced Materials </a></li>
                                        <li><a href="/categories/food-and-beverage"><img alt="Food and Beverage"
                                                    height="24" width="24"
                                                    data-src="https://cdn.vantagemarketresearch.com/category/icon/Food-and-Beverage.svg"
                                                    class="lazyload" />
                                                Food &amp; Beverage </a></li>
                                    </div>
                                    <div class="col">
                                        <li><a href="/categories/banking-financial-services-and-insurance"><img
                                                    alt="Banking Financial Services and Insurance" height="24"
                                                    width="24"
                                                    src="https://cdn.vantagemarketresearch.com/category/icon/Banking-Financial-Services-and-Insurance.svg"
                                                    class="lazyload" />
                                                BFSI </a></li>
                                        <li><a href="/categories/technology-and-media"><img alt="Technology and Media"
                                                    height="24" width="24"
                                                    data-src="https://cdn.vantagemarketresearch.com/category/icon/Technology-and-Media.svg"
                                                    class="lazyload" />
                                                Technology &amp; Media </a></li>
                                        <li><a href="/categories/semiconductor-and-electronics"><img
                                                    alt="Semiconductor and Electronics" height="24" width="24"
                                                    src="https://cdn.vantagemarketresearch.com/category/icon/Semiconductor-and-Electronics.svg"
                                                    class="lazyload" />
                                                Semiconductor &amp;
                                                Electronics
                                            </a></li>
                                        <li><a href="/categories/automotive-transportation-and-logistics"><img
                                                    alt="Automotive Transportation and Logistics" height="24" width="24"
                                                    src="https://cdn.vantagemarketresearch.com/category/icon/Automotive-Transportation-and-Logistics.svg"
                                                    class="lazyload" />
                                                Automotive
                                                &amp; Logistics </a></li>
                                        <li><a href="/categories/heavy-industry"><img alt="Heavy Industry" height="24"
                                                    width="24"
                                                    data-src="https://cdn.vantagemarketresearch.com/category/icon/Heavy-Industry.svg"
                                                    class="lazyload" />
                                                Heavy
                                                Industry
                                            </a></li>
                                        <li><a href="/categories/building-and-constructions"><img
                                                    alt="Building and Constructions Icon" height="24" width="24"
                                                    data-src="https://cdn.vantagemarketresearch.com/category/icon/Building-and-Construction.svg"
                                                    class="lazyload" />
                                                Building & Construction
                                            </a>
                                        </li>
                                        <li><a href="/categories/consumer-goods-and-packaging"><img
                                                    alt="Consumer Goods and Packaging Icon" height="24" width="24"
                                                    src="https://cdn.vantagemarketresearch.com/category/icon/Consumer-Goods-and-Packaging.svg"
                                                    class="lazyload" />
                                                Consumer Goods &
                                                Packaging
                                            </a>
                                        </li>
                                        <li><a href="/categories/chemicals"><img alt="Chemicals Icon" height="24"
                                                    width="24"
                                                    data-src="https://cdn.vantagemarketresearch.com/category/icon/Chemicals.svg"
                                                    class="lazyload" />
                                                Chemicals </a></li>
                                    </div>
                                </div>
                                <div class="bottom-menu">
                                    <li><a href="/all-reports">All Reports <span class="gt">[Trending
                                                Reports]</span></a></li>
                                </div>
                            </ul>
                        </li>
                        <li class="has-submenu right-border">
                            <a>Services we offers</a>
                            <ul class="submenu">
                                <li>
                                    <a href="/off-the-shelf-research" class="under-line">Off-the-Shelf Research</a>

                                </li>
                                <li><a href="/consulting-and-advisory" class="under-line">Consulting &
                                        Advisory</a></li>
                                <li><a href="/consumer-survey" class="under-line">Consumer Survey
                                        Analysis</a></li>
                                <!--<li class="right-border"><a href="/the-vantage-point">The Vantage Point <i
                                                                    class="fa fa-plus-circle plus"></i></a></li>-->
                                <li><a href="/data-analytics" class="under-line">Data Analytics</a>
                                </li>
                                <li><a href="/technology-solutions" class="under-line">Technology Solutions</a></li>

                            </ul>
                        </li>
                        <li>
                            <a style="padding-left: 10px !important;
                                                                padding-right: 10px !important;
                                                                background: #e44562;
                                                                color: #fff;
                                                                cursor: pointer;" data-bs-toggle="modal"
                                data-bs-target="#searchModal">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- /Header -->

<style>
    @media (min-width: 992px) {
        .main-nav>li>a {
            line-height: 40px;
            padding: 0 !important;
        }
    }

    @media (min-width: 768px) {
        .submenu:has(.big-menu) {
            left: -200px;
        }
    }

    @media (max-width: 1204px) {
        .main-nav>li>a {
            font-size: 0.80rem;
        }
    }

    @media (max-width: 1248px) {
        .main-nav>li>a {
            font-size: 0.89rem;
        }
    }

    @media (max-width: 1309px) {
        .main-nav>li>a {
            font-size: 0.9rem;
            line-height: 25px;
        }
    }


    @media (max-width: 1442px) {
        .main-nav>li>a {
            line-height: 25px;
        }

        .main-nav>li.right-border {
            margin-right: 7px;
            padding-right: 5px;
        }
    }

    @media (min-wdth: 992px) {
        .main-nav>li.right-border {
            margin-right: 3px;
            padding-right: 0px;
        }
    }

    @media (min-width: 1200px) {
        .main-nav>li {
            margin-right: 15px;
        }
    }

    .right-border {
        border-right: 1px solid lightgrey;
        padding-right: 18px;
    }

    .plus {
        position: relative;
        top: -10px;
        left: -8px;

    }

    .bottom-menu a:hover {
        letter-spacing: 16px !important;
        color: #F66962 !important;
    }



    .bottom-menu a {
        text-align: center;
        letter-spacing: 16px;
        font-weight: bold;
        text-transform: uppercase;
        font-weight: bold;
        background: #0d355a !important;
        color: #fff !important;
    }

    @media (min-width:425px) {
        .bottom-menu a {
            letter-spacing: 14px;
        }

        .bottom-menu a:hover {
            letter-spacing: 14px !important;
            color: #F66962 !important;
        }
    }

    .under-line {
        border-bottom: 1px solid;
    }

    .srch-button {
        padding-left: 10px !important;
        padding-right: 10px !important;
        background: #e44562;
        color: #fff;
        cursor: pointer;
    }

    .gt {
        width: 1px;
        height: 1px;
        position: absolute;
        overflow: hidden;
    }
</style>