<div class="modal search-modal" tabindex="-1" id="searchModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div id="search"></div>
        </div>
    </div>
</div>

{{#script_section 'footerscript'}}
<script defer src="/assets/js/component/search.js"></script>
{{/script_section}}