<ul>
    <li> North America
        <ul>
            <li>U.S.</li>
            <li>Canada</li>
            <li>Mexico</li>
        </ul>
    </li>
    <li>Europe
        <ul>
            <li>U.K</li>
            <li>France</li>
            <li>Germany</li>
            <li>Italy</li>
            <li>Spain</li>
            <li>Rest Of Europe
            </li>
        </ul>
    </li>
    <li>Asia Pacific
        <ul>
            <li>China</li>
            <li>Japan</li>
            <li>India</li>
            <li>South Korea</li>
            <li>South East Asia</li>
            <li>Rest Of Asia Pacific</li>
        </ul>
    </li>
    <li>Latin America
        <ul>
            <li>Brazil</li>
            <li>Argentina</li>
            <li>Rest Of Latin America</li>
        </ul>
    </li>
    <li>Middle East &amp; Africa
        <ul>
            <li>GCC Countries</li>
            <li>South Africa</li>
            <li>Rest Of Middle East &amp; Africa</li>
        </ul>
    </li>
</ul>