<section id="dashboardImage" class="section how-it-works become-instructors image-section lazyloaded" style="
    border: 1px solid #dfdfdf;box-shadow: 0 0 7px 0;height: 100%;">
    <div class="container no-padding front">
        <div class="row">
            <div class="col-md-8 no-right-padding">
                <div class="owl-carousel owl-theme owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(-1308px, 0px, 0px); transition: all 2s ease 0s; width: 3925px;">
                            <div class="owl-item cloned" style="width: 654.125px;">
                                <div> <img title="Check Screenshot of Vantage Point Interactive Dashboard" class="click-img" onclick="showImage(this)" src="https://cdn.vantagemarketresearch.com/assets/img/screen1.png" alt="Dashboard 1"></div>
                            </div>
                            <div class="owl-item cloned" style="width: 654.125px;">
                                <div> <img title="Check Screenshot of Vantage Point Interactive Dashboard" class="click-img" onclick="showImage(this)" src="https://cdn.vantagemarketresearch.com/assets/img/screen2.png" alt="Dashboard 2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                                aria-label="Previous">‹</span></button><button type="button" role="presentation"
                            class="owl-next"><span aria-label="Next">›</span></button></div>
                    <div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button
                            role="button" class="owl-dot"><span></span></button></div>
                </div>
            </div>
            <div class="col-md-4 text-part">
                <div class="row">
                    <h2 class="dash-title">Report Coverage & Deliverables</h2>
                    <div class="col-md-12">
                        <p class="dash-message">PDF report & online dashboard will help you understand:</p>
                        <ul class="dash-point">
                            <li>Real-Time Data Updates:</li>
                            <li>Competitor Benchmarking</li>
                            <li>Market Trends Heatmap</li>
                            <li>Custom Research Queries</li>
                            <li>Market Sentiment Analysis</li>
                            <li>Demographic and Geographic Insights</li>
                        </ul>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-dark" onclick="flipit(true)">Book Demo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .image-section {
        padding: 0px;
    }

    .no-right-padding {
        padding-right: 0px;   
    }

    .image-section img {
        width: 100%;
        height: 100%;
    }

    .no-padding {
        padding: 0px;
    }

    ul.dash-point {
        padding-top: 20px;
    }

    ul.dash-point li {
        margin-bottom: 15px;
        
    }

    .image-section a.primary-link {
        color: #fff !important;
        font-weight: bold;
        width: 92%;
        margin-left: 10px;
    }

    h2.dash-title {
        padding: 10px;
        padding-right: 0px;
        background-color: yellow;
        width: 97%;
        
    }

    p.dash-message {
        padding-right: 15px;
        margin-bottom: 0px;
        
    }
    .text-part {
        /*display:flex; flex-direction: column;justify-content:space-between;*/
    }
    .click-img {
        cursor: pointer;
    }
</style>