<div class="row" id="tr-report">
    <div class="col-md-12" style="margin-bottom: 10px;">
        <a target="_blank" href="https://directory.esomar.org/country/82-india/r7370_Vantage-Market-Research.php">
        <img src="https://cdn.vantagemarketresearch.com/assets/img/ESOMAR.webp" alt="ESOMAR" style="width: 100%;height: 175px;" /></a>
    </div>
    <div class="col-md-6">
        <img src="https://cdn.vantagemarketresearch.com/assets/img/DUN-modified.webp" alt="DUN" style="width: 100%;" />
    </div>  
    <div class="col-md-6">
        <img src="https://cdn.vantagemarketresearch.com/assets/img/trustwave.webp" alt="Trust Wave" style="width: 100%;" />
    </div>
</div>