<div class=""><div class="aHl"></div><div id=":19e" tabindex="-1"></div><div id=":193" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc2NDc4ODQ4OTc2Mjg2NTMxOSIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc2NDc4ODQ4OTc2Mjg2NTMxOSIsbnVsbCxbXV0."><div id=":192" class="a3s aiL msg2963059634967491428"><div class="adM">


</div><div lang="EN-US" link="#0563C1" vlink="#954F72" style="word-wrap:break-word"><div class="adM">
</div><div class="m_2963059634967491428WordSection1"><div class="adM">
</div><p class="MsoNormal"><u></u>&nbsp;<u></u></p>
<table border="0" cellspacing="0" cellpadding="0" width="400" style="width:300.0pt;background:white;border-collapse:collapse">
<tbody>
<tr>
<td width="259" style="width:194.25pt;padding:0in 0in 4.5pt 0in">
<p class="MsoNormal"><b><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#1793ce">Eric Kunz</span></b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#878787"><br>
Operation Head</span><span style="font-size:12.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#1793ce"><u></u><u></u></span></p>
</td>
<td width="141" style="width:105.75pt;padding:0in 0in 4.5pt 0in">
<p class="MsoNormal" align="right" style="text-align:right"><span style="color:black"><a href="https://www.vantagemarketresearch.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.vantagemarketresearch.com/&amp;source=gmail&amp;ust=1683195030566000&amp;usg=AOvVaw2jA-As9xEAT3Dwo6xuve7h"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#337ab7;text-decoration:none"><img border="0" width="154" height="36" style="width:1.6041in;height:.375in" id="m_2963059634967491428Picture_x0020_14" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=379df8851f&amp;attid=0.1&amp;permmsgid=msg-f:1764788489762865319&amp;th=187dc9c7fc0380a7&amp;view=fimg&amp;fur=ip&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-RQoj94U0LVYZSm5VbbuAy5q_0OJaZWMEqyWGaTyIkKKBDEglYElrr7J_wS3MvT0P_c-cFIdLnV8w_mMoj_Lq1ZtF2dm62QCqHmFfihbRiJ29VDsZmWXrqZLM&amp;disp=emb" alt="Logo" data-image-whitelisted="" class="CToWUd" data-bit="iit"></span></a></span><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#444444"><u></u><u></u></span></p>
</td>
</tr>
<tr>
<td width="400" colspan="2" style="width:300.0pt;border:none;border-top:solid #1793ce 1.0pt;padding:0in 0in 0in 0in">
<p class="MsoNormal"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#444444">&nbsp;<u></u><u></u></span></p>
</td>
</tr>
<tr>
<td width="400" colspan="2" style="width:300.0pt;padding:0in 0in 0in 0in">
<p class="MsoNormal"><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2c2c2c">Vantage Market Research<u></u><u></u></span></b></p>
</td>
</tr>
<tr>
<td width="400" colspan="2" style="width:300.0pt;padding:0in 0in 0in 0in">
<p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2c2c2c">6218 Georgia Avenue NW Ste 1 - 564<u></u><u></u></span></p>
</td>
</tr>
<tr>
<td width="400" colspan="2" style="width:300.0pt;padding:0in 0in 0in 0in">
<p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2c2c2c">Washington, DC 20011-5125, United States<u></u><u></u></span></p>
</td>
</tr>
<tr>
<td width="400" colspan="2" style="width:300.0pt;padding:0in 0in 0in 0in">
<p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2c2c2c">t: + 1-202-380-9727<u></u><u></u></span></p>
</td>
</tr>
<tr>
<td width="400" colspan="2" style="width:300.0pt;padding:0in 0in 0in 0in">
<p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#2c2c2c">e:
<a href="mailto:eric.kunz@vantagemarketresearch.com" target="_blank">eric.kunz@<wbr>vantagemarketresearch.com</a><u></u><u></u></span></p>
</td>
</tr>
<tr>
<td width="400" colspan="2" style="width:300.0pt;padding:0in 0in 0in 0in">
<p class="MsoNormal"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#444444">&nbsp;<u></u><u></u></span></p>
</td>
</tr>
<tr style="height:11.25pt">
<td width="200" style="width:150.0pt;padding:0in 0in 0in 0in;height:11.25pt">
<p class="MsoNormal"><b><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#1793ce"><a href="http://www.vantagemarketresearch.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.vantagemarketresearch.com/&amp;source=gmail&amp;ust=1683195030566000&amp;usg=AOvVaw2Z5P787J4GlvTIUZqIP9oO"><span style="color:#1793ce;text-decoration:none">www.vantagemarketresearch.com</span></a></span></b><b><span style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#1793ce"><u></u><u></u></span></b></p>
</td>
<td width="200" style="width:150.0pt;padding:0in 0in 0in 0in;height:11.25pt">
<p class="MsoNormal" align="right" style="text-align:right"><span style="color:black"><a href="https://www.facebook.com/vantagemarketresearch" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/vantagemarketresearch&amp;source=gmail&amp;ust=1683195030566000&amp;usg=AOvVaw0eNMwcQVGSzutHiViD2KQi"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#337ab7;text-decoration:none"><img border="0" width="15" height="15" style="width:.1562in;height:.1562in" id="m_2963059634967491428Picture_x0020_13" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=379df8851f&amp;attid=0.2&amp;permmsgid=msg-f:1764788489762865319&amp;th=187dc9c7fc0380a7&amp;view=fimg&amp;fur=ip&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ903tufVunAagj1SpivHW39CLZORtgqWlGEKN-P1hY2uj2xnv3rojYnH8kpN_EakFDYaiQXdotL7p-zpExAEa2_tdEYlX3aZgH86u-0lcWO4MZ3asK0kDQ8kBI&amp;disp=emb" alt="Facebook icon" data-image-whitelisted="" class="CToWUd" data-bit="iit"></span></a></span><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#444444">&nbsp;&nbsp;&nbsp;</span><span style="color:black"><a href="https://www.linkedin.com/company/vantage-market-research/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/vantage-market-research/&amp;source=gmail&amp;ust=1683195030566000&amp;usg=AOvVaw2IYrDYKjJLpnYWBBgV-Qm5"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#337ab7;text-decoration:none"><img border="0" width="15" height="15" style="width:.1562in;height:.1562in" id="m_2963059634967491428Picture_x0020_12" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=379df8851f&amp;attid=0.3&amp;permmsgid=msg-f:1764788489762865319&amp;th=187dc9c7fc0380a7&amp;view=fimg&amp;fur=ip&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8fuobAUEelDdcyuJ8Ryz1JBNMB3N-lupttijRlYVdYZk0aq3KSQE5FFPPCTjnjl2HjCrqniozCLT-K_mXZtkyKWj61FNL1fdtAL5qPf-ezl4piTMUXywwEvjs&amp;disp=emb" alt="LinkedIn icon" data-image-whitelisted="" class="CToWUd" data-bit="iit"></span></a></span><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#444444">&nbsp;&nbsp;&nbsp;</span><span style="color:black"><a href="https://twitter.com/vantagemarketr" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/vantagemarketr&amp;source=gmail&amp;ust=1683195030567000&amp;usg=AOvVaw3E27jjCZU94y2Yav8ETm7v"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#337ab7;text-decoration:none"><img border="0" width="15" height="15" style="width:.1562in;height:.1562in" id="m_2963059634967491428Picture_x0020_11" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=379df8851f&amp;attid=0.4&amp;permmsgid=msg-f:1764788489762865319&amp;th=187dc9c7fc0380a7&amp;view=fimg&amp;fur=ip&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ90oGts54s2-U278o2p9OvLrhgrgzB5IFJPmWxYvXrNnn5tyQnydyfvksBAr52-27QXa6j20btxNdq3rn12dSPmBN90My0gV3CKXTbIwIInHYPxGNSI2jTylr8&amp;disp=emb" alt="Twitter icon" data-image-whitelisted="" class="CToWUd" data-bit="iit"></span></a></span><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#444444">&nbsp;&nbsp;&nbsp;</span><span style="color:black"><a href="https://www.youtube.com/channel/UCLgG0af0Kn5AprzV_slnSLQ" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/channel/UCLgG0af0Kn5AprzV_slnSLQ&amp;source=gmail&amp;ust=1683195030567000&amp;usg=AOvVaw1Zs0tMefPStvZ9EBlNIkgZ"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#337ab7;text-decoration:none"><img border="0" width="15" height="15" style="width:.1562in;height:.1562in" id="m_2963059634967491428Picture_x0020_10" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=379df8851f&amp;attid=0.5&amp;permmsgid=msg-f:1764788489762865319&amp;th=187dc9c7fc0380a7&amp;view=fimg&amp;fur=ip&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9c9AHbZ2vN7zlniDNwDix2o1Hk4cMnIwZUD6_xBbYOc4HNkuulzO290u43s36BsCJ1-H7CgKn_0GQiXQsKihHeKV4gINyyeId5SUQ6oGKPO8RND4lDF7EIHlI&amp;disp=emb" alt="Youtube icon" data-image-whitelisted="" class="CToWUd" data-bit="iit"></span></a></span><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#444444">&nbsp;&nbsp;&nbsp;</span><span style="color:black"><a href="https://www.instagram.com/vantagemarketresearch/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/vantagemarketresearch/&amp;source=gmail&amp;ust=1683195030567000&amp;usg=AOvVaw2lG3HPAInPkajWUwd-GaK9"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#337ab7;text-decoration:none"><img border="0" width="15" height="15" style="width:.1562in;height:.1562in" id="m_2963059634967491428Picture_x0020_9" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=379df8851f&amp;attid=0.6&amp;permmsgid=msg-f:1764788489762865319&amp;th=187dc9c7fc0380a7&amp;view=fimg&amp;fur=ip&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ88x2SPeZZomWD3E9ZHsuGRZHRo6Ln8ukYcSH_AORN92gGGyIhlmqs9aehSc7WzD4AdE5ss7rPVAH63e5tQYMWl4FZcS1JQ8jAiSTtO86bMD2YamH_GC5DQYSI&amp;disp=emb" alt="Instagram icon" data-image-whitelisted="" class="CToWUd" data-bit="iit"></span></a></span><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#444444">&nbsp;&nbsp;<u></u><u></u></span></p>
</td>
</tr>
<tr>
<td width="400" colspan="2" style="width:300.0pt;padding:0in 0in 0in 0in">
<p class="MsoNormal"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#444444">&nbsp;<u></u><u></u></span></p>
</td>
</tr>
<tr>
<td width="400" colspan="2" style="width:300.0pt;padding:3.0pt 0in 0in 0in">
<p class="MsoNormal"><span style="color:black"><a href="https://directory.esomar.org/country/82-india/r7370_Vantage-Market-Research.php" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://directory.esomar.org/country/82-india/r7370_Vantage-Market-Research.php&amp;source=gmail&amp;ust=1683195030567000&amp;usg=AOvVaw0DzjGkNBy6gQvU-saGy7II"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#337ab7;text-decoration:none"><img border="0" width="400" height="150" style="width:4.1666in;height:1.5625in" id="m_2963059634967491428Picture_x0020_8" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=379df8851f&amp;attid=0.7&amp;permmsgid=msg-f:1764788489762865319&amp;th=187dc9c7fc0380a7&amp;view=fimg&amp;fur=ip&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9f5TOQDkF7jujg_ebyIE15XOZBK-VFWZQULFtITE3A861VKhc_YSJcp5DWjmbkaLzK3g4GxWebhrZMhWoK7OfHw_ciDRsOoOMWPnJ_dUOYZYJ01XAZtlG2W4k&amp;disp=emb" alt="Banner" data-image-whitelisted="" class="CToWUd" data-bit="iit"></span></a></span><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#444444"><u></u><u></u></span></p>
</td>
</tr>
<tr>
<td width="400" colspan="2" style="width:300.0pt;padding:0in 0in 0in 0in">
<p class="MsoNormal"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#444444">&nbsp;<u></u><u></u></span></p>
</td>
</tr>
<tr>
<td width="400" colspan="2" style="width:300.0pt;padding:0in 0in 0in 0in">
<p class="MsoNormal" style="text-align:justify"><span style="font-size:8.0pt;font-family:&quot;Arial&quot;,sans-serif;color:#878787">Vantage Market Research puts the security of the client at a high priority. Therefore, we have put efforts into ensuring
 that the message is error and virus-free. Unfortunately, full security of the email cannot be ensured as, despite our efforts, the data included in emails could be infected, intercepted, or corrupted. Therefore, the recipient should check the email for threats
 with proper software, as the sender does not accept liability for any damage inflicted by viewing the content of this email.<u></u><u></u></span></p>
</td>
</tr>
</tbody>
</table>
<p class="MsoNormal"><u></u>&nbsp;<u></u></p><div class="yj6qo"></div><div class="adL">
</div></div><div class="adL">
</div></div><div class="adL">

</div></div></div><div id=":19i" class="ii gt" style="display:none"><div id=":19j" class="a3s aiL "></div></div><div class="hi"></div></div>