<style>
    .page-banner {
        background: url(/assets/img/About-Us.jpeg);
        background-size: cover;
        background-position: center;
    }

    .page-banner h1 {
        background: rgba(16, 16, 16, 0.64);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
        border: 1px solid rgba(16, 16, 16, 0.3);
        ;
    }
</style>
<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="breadcrumb-list">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item">About Vantage Market Research</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Breadcrumb -->
<div class="page-banner bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h1 class="mb-0">About Us</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Help Details -->
<div class="page-content">
    <div class="container">
        <div class="row vision">
            <div class="col-lg-12">
                <!--<h2 style="text-align: center;"><u>About Us</u></h2>-->
                <p>Derived from an Anglo-Norman French word 'avantage' (advantage); which means
                    'a
                    position giving a strategic advantage, commanding perspective, and comprehensive
                    view'.
                    Vantage Market Research &amp; Consultancy Services is all about providing accurate and
                    reliable market intelligence to its clients for the seamless execution of their business
                    growth strategies. In the age of flooding data, not being able to differentiate and zero
                    down on the correct wave of information could be a big threat. This is where you need to
                    stand at a position that gives you a strategic view of the entire market and then take
                    decisions that best suit your business.</p>

                <p>We, at Vantage Market Research, provide quantified B2B high-quality research on more
                    than 20,000 emerging markets, in turn helping you map out a constellation of
                    opportunities for your businesses. We, as market intelligence, market research and
                    consulting firm provide end-to-end solutions to our client enterprises to meet their crucial
                    business objectives. Our clientele base spans 70% of Global Fortune 500 companies.</p>

                <p>Our dedicated team of experts ensures that our research data thoroughly meet your
                    requirements. Thus, being a real North Star of your business journey! Our team
                    specializes in industries such as Chemicals, Materials, Energy, Food &amp; Beverages,
                    Healthcare, Technology and many more.</p>

                <p>We consider the data to be more than just numbers and put forth intensive research to
                    deliver pertinent information that can develop into a tangible solution. We believe the
                    journey isn't just yours but a collaborative effort. Our quest is to reach the heights
                    by
                    helping you reach yours!</p>

            </div>
        </div>

        <style>
            .vision h2 {
                color: #e14666;
            }

            .vision p {
                color: #5960a4;
                font-size: 1.3rem;
                font-weight: bold;
                text-align: justify;
            }
        </style>

    </div>
</div>
<!-- /Help Details -->