<main class="footer-links m-80 p-60">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <h2 class="title">
                        <span class="title" data-ui-id="page-title">Come Join Us</span>
                    </h2>


                    <p class="title">
                        <strong>
                            Come Join Us @ Vantage Market Research
                        </strong>
                    </p>

                    <p class="contain">
                        If you are a passionate professional who aspires to build a career in Market Research Industry
                        and if you are full of zeal to perform then come, join us!
                        We are looking for candidates who quench on Research, Numbers, Statistics, Facts and Figures and
                        are highly motivated and excited by these.
                        At Vantage we believe in Stephen Covey’s principle of Win-Win; wherein we win trusted clients
                        with your expertise and you as our associate, win by endeavouring a journey of knowledge,
                        experience and ambition.
                        If you are a person who does not shy away from failing and aspire to overturn the failures to
                        success with your sincerity and hard work, Vantage is your Goal!
                        We believe and adopt to not discriminate on the basis of race, creed, gender, nationality and
                        language and we aspire to host a very friendly atmosphere adhering to finest levels of
                        professionalism.
                    </p>
                    <p class="contain">
                        <strong>
                            To enquire and apply for open positions, please send your updated resume to <a
                                href="mailto:careers@vantagemarketresearch.com">careers@vantagemarketresearch.com</a>.
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
{{#metasection 'indexmeta'}}
<meta name="robots" content="index">
{{/metasection}}