<style>
    .page-banner {
        background: url(/assets/img/customer-faq.webp);
    }

    .page-banner h1 {
        background: rgba(16, 16, 16, 0.64);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
        border: 1px solid rgba(16, 16, 16, 0.3);
        ;
    }

    .consulting-title {
        display: flex;
        align-items: baseline;
    }

    .consulting-title img {
        margin-right: 5px;
    }

    .bx-shadow {
        box-shadow: 0 3px 7px -1px rgb(0 0 0 / 10%);
        border-radius: 5px;
        background-color: #fff;
        padding: 20px;
        margin-top: 2%;
    }
</style>


<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="breadcrumb-list">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item">Customer FAQ</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Breadcrumb -->
<div class="page-banner bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h1 class="mb-0">Customer FAQ</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<div class="page-content">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 card">
                <div class="card-body">
                    <h2 class="title">
                        <span class="title" data-ui-id="page-title">Customer FAQ’s</span>
                    </h2>
                    <p class="title">
                        <strong>
                            How do I purchase reports from Vantage Market Research?
                        </strong>
                    </p>
                    <p class="contain">
                        To begin with search for a relevant keyword of the required market. Our search engine is
                        designed in a way to generate all relevant results are displayed in one go. When the relevant
                        results appear on the screen, click on the title to view the detailed information about the
                        product that includes a descriptive summary and table of content. Purchasing on ordering the
                        report online from the website is quite simple. Click on the ‘Buy Now’ option and select the
                        copy (‘Single-user’/’Multi-user’/’Enterprise-user’) you prefer for. Simply follow the steps
                        visible on the screen or call the number provided on our website for further assistance. You can
                        also discuss with one of our industry-specific research specialists in case of any concerns.
                        They can help you find the best suitable report meeting your requirement and help you answer any
                        questions regarding your research. For any other please reach out to the domain expert who are
                        happy to assist you round the clock.
                    </p>

                    <p class="title">
                        <strong>
                            What types of payment modes are accepted?
                        </strong>
                    </p>
                    <p class="contain">
                        We support the following payment options:

                    </p>
                    <ul class="contain">
                        <li class="pb-1">Online payment through
                            <ul class="pb-1">
                                <li class="pb-1">Visa Card</li>
                                <li class="pb-1">Master Card</li>
                                <li>American Express</li>
                            </ul>
                        </li>

                        <li class="pb-1">Bank Wire Transfer</li>
                        <li class="pb-1">PayPal</li>
                    </ul>

                    <p class="title">
                        <strong>
                            What is the difference between single-user, multi-user, and enterprise license?
                        </strong>
                    </p>
                    <p class="contain">
                        Detailed description of each type is provided below:

                    </p>
                    <ul class="contain ">
                        <li class="pb-1">The purchase of a 'Single-User License' grants access to a specific report for
                            one person only and cannot be shared with any other employee within the same company.

                        </li>

                        <li class="pb-1">The purchase of a 'Multi-User License’ grants access to a specific report for
                            two to five users only within the same department and within the same company.</li>
                        <li>The purchase of an 'Enterprise License’ grants access to a specific report to a company-wide
                            audience. This includes subsidiary companies or other companies within a group of companies.
                        </li>
                    </ul>


                    <p class="title">
                        <strong>
                            What is the policy on the payments made?
                        </strong>
                    </p>
                    <p class="contain">
                        The report consists of an in-depth analysis on the market. Since we transfer the knowledge and
                        offer you a detailed understanding of the market, thus payment once made is non-refundable.
                        Nevertheless, we provide 24/7 customer support and address any queries you have on the report.
                    </p>

                    <p class="title">
                        <strong>
                            How do I get the receipt for my purchases?
                        </strong>
                    </p>
                    <p class="contain">
                        Once you complete the payment process, an invoice is immediately sent to you via email.
                    </p>

                    <p class="title">
                        <strong>
                            Can I modify the scope of a report and customize it to suit my requirements? If yes, then
                            how?
                        </strong>
                    </p>
                    <p class="contain">
                        At Vantage Market Reports, we strive to ensure that clients are completely satisfied with their
                        purchase, along with maximum value for the money they spend. With this in mind, we offer clients
                        the opportunity to modify or add to the scope of a present report to make sure that their
                        requirements are fulfilled. This addition or modification is allowed to the extent of 10% of the
                        report cost.
                    </p>

                    <p class="title">
                        <strong>
                            Can I purchase individual sections of the report? If yes, then how?
                        </strong>
                    </p>
                    <p class="contain">
                        Yes, you can purchase individual sections of the report. Please get in touch with our sales
                        representative with this request, and they will help you in this regard.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{#metasection 'indexmeta'}}
<meta name="robots" content="noindex">
{{/metasection}}