<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="breadcrumb-list">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item">How To Order</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Breadcrumb -->
<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h1 class="mb-0">How To Order`</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h2 class="title">
                    <span class="title" data-ui-id="page-title">How To Order?</span>
                </h2>
                <p class="title">
                    <strong>
                        Authorization
                    </strong>
                </p>
                <p class="contain">
                    In the case of purchasing a report on behalf of your company, you certify that you are
                    authorized to make this decision. You can order using any one of the following methods: 
                </p>

                <p class="title">
                    <strong>
                        Email
                    </strong>
                </p>
                <p class="contain">
                    You can drop an email with your requirements at <a
                        href="mailto:{{clientInfo?.email}}">{{clientInfo?.email}}</a>. Please include
                    your requirements, delivery address as well as preferred payment method and our representatives
                    will get in touch with you within 24 hours.
                </p>

                <p class="title">
                    <strong>
                        Telephone
                    </strong>
                </p>
                <p class="contain">
                    Dial <a href="tel:{{clientInfo?.clientPhNo}}">
                        {{clientInfo?.clientPhNo}}</a> and get it touch with our representatives to place an order.
                </p>

                <p class="title">
                    <strong>
                        Delivery
                    </strong>
                </p>
                <p class="contain">
                    Any published report purchased will be delivered in PDF format via email within 24 to 48 hours
                    of receipt of payment. For custom reports, delivery will be as per the timelines agreed with the
                    client prior to purchase
                </p>
            </div>
        </div>
    </div>
</div>
{{#metasection 'indexmeta'}}
<meta name="robots" content="noindex">
{{/metasection}}