<link href="/css/thanks.css" rel="stylesheet" />
<div class="realoutercontainer">
    <div class="outercontainer">
        <div class="outercontainer2">
            <div class="outercontainer3">
                <div class="outercontainer4">
                    <h1>Proxy/VPN !</h1>
                    <p class="mb-0">
                        Are you using proxy or VPN ?
                    </p>
                    <p>We do not allow to make payment on proxy or VPN. Please check your IP.
                        Or Contact us if you think our system mistakenly ditect it.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="common-rectangleGrid original">
        <!-- Background -->
        <div class="backgroundContainer">
            <div class="grid">
                <div class="background"></div>
            </div>
        </div>
        <!-- rectangles -->
        <div class="rectangleContainer">
            <div class="grid">
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
            </div>
        </div>
    </div>
</div>