<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="breadcrumb-list">
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item">Terms and Conditions</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Breadcrumb -->
<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h1 class="mb-0">Terms and Conditions</h1>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Help Details -->
<div class="page-content">

    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <h2 class="title">
                    <span class="title" data-ui-id="page-title">Terms And Conditions</span>
                </h2>
                <p>
                    We at Vantage Market Research (Vantage) value customer experience the most and with utmost priority.
                    In an effort to provide you with a hassle-free experience, Vantage lays down below mentioned terms
                    and conditions. We solely hold the rights to amend these on a need basis. We at Vantage Market
                    Research as a responsible organization, deem it our duty to put them out in public for our client’s
                    knowledge. We highly recommend you to make it a point to read these terms and conditions before
                    placing the order. It is important to note that the terms and conditions currently available on the
                    website will be applicable for the purchases. Thereby, when you place an order with us or any of our
                    associates, you are agreeing to the terms and conditions laid down by us here on the website.
                </p>


                <p class="title">
                    <strong>
                        Copyright
                    </strong>
                </p>
                <p class="contain">
                    All material and data available on our website and in our research reports, including text,
                    graphics, images, statistics, audio clips, video material, insights, analysis, and others, are
                    solely property of Vantage and are protected by international copyright laws. Content in any form on
                    Vantage’s website and research reports are also an exclusive property of the company and are
                    protected by international copyright laws. Further, all software and technological/ technical tools
                    used by the company on its website and within are sole property of Vantage. They are also protected
                    by international copyright laws. By communicating with us or by indulging in business transactions
                    with us, you agree to not share in parts or in full any form of content, tool, software, data,
                    graphics, images, audio, video, or other Vantage property with any other third party. In case you
                    wish to do so, it is mandatory to seek written permission from Vantage. The company reserves the
                    right to initiate action, in its own powers, or legally, in case discrepancies are found from the
                    customer.
                </p>

                <p class="title">
                    <strong>
                        Delivery and Payments
                    </strong>
                </p>
                <p class="contain">
                    We are a market research company and our products are both, common for all and customized on a need
                    basis. In either of these two cases, we only process the order strictly after payment. Vantage Under
                    no circumstances encourage balance in payment for order. At the same time, after making the payment,
                    it takes minimum 3-5 days for us to process the order. We will provide the copy of the report to you
                    through email while the physical copy is mailed to your postal address. Please note that the
                    delivery time may differ based on the location.
                </p>
                <p class="contain">
                    While Vantage does not encourage order cancellations, we do understand the need for making the
                    change under circumstances. However, Vantage, at no cost, reimburses the payment. Instead, we
                    provide Vantage credits amounting to the equivalent value which have to be used within a year for
                    future perusal.
                </p>

                <p class="title">
                    <strong>
                        License and Website Access
                    </strong>
                </p>
                <p class="contain">
                    While doing business transaction with Vantage, we provide limited access to a link which we hold
                    rights to revoke at any point in time. Further, the link does not permit portraying Vantage or any
                    of its associates in a derogatory manner that might defame the company, its values, the management
                    or its employees. Any such action, if found, Vantage holds the right to initiate legal action
                    against the consumer. At the same time, Vantage does not permit downloading any form or content or
                    tool from website, or modify it, or make any form of changes. The company holds the rights to
                    initiate action on finding such instances. The license does not permit re-sale, or sale of a part or
                    any component of the website or the research report. Also, use of robots to mine data from the
                    websites for personal or commercial use is strictly prohibited. Vantage also does not permit the use
                    of its logo, copyright, proprietary information, or any other information or data in lieu with the
                    company on any other platform for personal or commercial use. Further, sharing information on social
                    media from Vantage’s website or its research reports mandate attribution to Vantage, and also
                    mandates consent from the company in written whatsoever. The company holds the authority to initiate
                    action if information from Vantage is shared on social media without attribution and consent.
                </p>


                <p class="title">
                    <strong>
                        Accuracy and Credibility
                    </strong>
                </p>
                <p class="contain">
                    Information provided by Vantage are based on extensive research and our analysts and domain experts
                    who use proven and tested methods to provide the same. On the other hand, content on the website is
                    the result of exhaustive logical and prudent research. However, we expect you to know that to err is
                    human. Vantage does not warrant that all content published on the website in any form, and the
                    research report provided is free of errors. We, of course, strive to provide the best quality
                    information, and will always continue to do so.
                </p>


                <p class="title">
                    <strong>
                        Third Party Content
                    </strong>
                </p>
                <p class="contain">
                    Besides its own content and tools, Vantage also uses content and information from third party
                    websites. In some cases, you may also find links to them. Vantage, however, does not hold
                    responsibility for the quality, form, or any other aspect related to the content on the third-party
                    website. We also, do not account for any loss or damage incurred to the consumer electronically,
                    physically, monetarily, or in any other form, due to the third-party website or content.
                </p>

                <p class="title">
                    <strong>
                        Law of the Land
                    </strong>
                </p>
                <p class="contain">
                    When you enter into a business agreement with us, it is agreed to be accountable and abide by the
                    law and regulations laid down by the Government of India and Government of Maharashtra. In case of
                    failure to abide by these may invite action according to the law of the land.
                </p>
            </div>
        </div>
    </div>
</div>
{{#metasection 'indexmeta'}}
<meta name="robots" content="noindex">
{{/metasection}}