<link href="/css/thanks.css" rel="stylesheet" />
<div class="realoutercontainer">
    <div class="outercontainer">
        <div class="outercontainer2">
            <div class="outercontainer3">
                <div class="outercontainer4">
                    <h1>Wire Transfer Request !</h1>
                    <p class="mb-0">
                        We got your wire transafer request for {{reportTitle}}. Our sales representative will contact
                        you soon.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="common-rectangleGrid original">
        <!-- Background -->
        <div class="backgroundContainer">
            <div class="grid">
                <div class="background"></div>
            </div>
        </div>
        <!-- rectangles -->
        <div class="rectangleContainer">
            <div class="grid">
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
            </div>
        </div>
    </div>
</div>